<html lang="en"> 
    <%- include('./partials/header.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class = "blogs content">
        <% if (blogs.length > 0) { %>
            <% blogs.forEach(blog => { %>
                <a class = "single" href="/blogs/<%= blog._id %>">
                    <h3 class = "blog-title"><%= blog.title %></h3>
                    <% if (blog.body.length > 100) {%>
                        <p class = "blog-snippet"><%= blog.body.slice(0, 100) %>...</p>
                    <% } else {%>
                        <p class = "blog-snippet"><%= blog.body.slice(0, blog.body.length) %></p>
                    <% } %>
                </a>
            <% }) %>
        <% } else { %>
            <h2 class = "noBlogs">There are no blogs. Click 'New Blog' to create one!</h2>
        <% } %>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>